* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.app {
  background-color: #005586;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: rgb(159, 173, 188);
}

.dashboards-list-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.icon-container {
  padding: 7px;
  position: relative;
  background-color: transparent;
}

.icon-container:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.open-menu .icon-container {
  rotate: 180deg;
}

.close-menu > *:not(.dashboards-list-title),
.close-menu > .dashboards-list-title > *:not(.icon-container) {
  display: none;
}

.dashboards-list-container {
  /* min-width: 250px; */
  background-color: rgba(22, 26, 29, 0.9);
  color: #b6c2cf;
}

.current-dashboard-container {
  flex-grow: 1;
}

.dashboard-option,
h2 {
  padding: 12px;
}

h2 {
  font-size: 18px;
}

.dashboard-option {
  font-size: 14px;
}

.dashboard-option:hover {
  background-color: rgba(255, 255, 255, 0.12);
  cursor: pointer;
}

.dark-container,
.light-container {
  color: #b6c2cf;
  border-radius: 12px;
  width: 270px;
  margin: 6px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
}

.dark-container {
  background-color: #101204;
}

.light-container {
  background-color: rgba(255, 255, 255, 0.2);
}

.light-container:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.dark-container h2,
.light-container h2 {
  font-size: 14px;
  padding: 6px 8px 6px 12px;
}
