* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.app {
  background-color: #005586;
  height: 100vh;
}

.dark-container,
.light-container {
  color: #b6c2cf;
  border-radius: 12px;
  width: 270px;
  margin: 6px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
}

.dark-container {
  background-color: #101204;
}

.light-container {
  background-color: rgba(255, 255, 255, 0.2);
}

.light-container:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.dark-container h2,
.light-container h2 {
  font-size: 14px;
  padding: 6px 8px 6px 12px;
}
